<div
        class="thumbnail"
        ng-class="{ selected: board.isSelected( data.name ), fullsize: board.fullsize }">
    <div class="desc">
        <h3>{{data.niceName}}</h3>
        <p>
            <span class="rev">r{{data.rev}}</span>
            <a class="direct" href="{{data.url}}">PNG</a>
        </p>
    </div>
    <div class="thumb-container">
        <img ng-src="{{data.url}}"
             ng-click="board.imageClicked( data.name )"/>
    </div>
    <div class="button original-size"
         ng-click="board.toggleFullsize()"
         ng-show="board.isSelected( data.name )">
        {{board.fullsizeText}}
    </div>
</div>