@font-face {
    font-family: AnnapurnaSILW;
    src: url(AnnapurnaSIL-R.woff);
}

@font-face {
    font-family: AndikaW;
    src: url(Andika-R.woff);
}

h1, h2, h3, h4, h5 {
    font-family: AnnapurnaSILW, serif;
}

body {
    background-color: #333;
    color: #fafafa;
    font-family: AndikaW, sans-serif;
}

a {
    color: #0af;
    font-weight: bold;
}

.thumbnail {
    background-color: #000;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.thumbnail .desc {
    margin-bottom: 5px;
    text-align: center;
}

.thumbnail .desc p {
    padding: 0;
    margin: 0;
}

.thumbnail .desc h3 {
    padding: 0;
    margin: 5px 0 -10px 0;
    font-size: 2em;
}

.thumbnail img {
    width: 400px;
    cursor: pointer;
}

.thumbnail .rev {
    position: absolute;
    top: 1px;
    left: 10px;
}

.thumbnail .direct {
    position: absolute;
    top: 1px;
    right: 10px;
}

.thumbnail.selected {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.thumbnail.selected .thumb-container {
    width: 100%;
    height: 100%;
}
.thumbnail.selected img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}